<html>
	<head>
		<title>Organizações Tabajara</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Cadastro de Serviço</h1>
		<hr>
		<form action="/salvarServico" method="post">
				
			<label for="descricao_servico">Descrição:</label><br>
			<textarea name="descricao_servico" id="descricao_servico" cols="100" rows="3"></textarea><br><br>
			
			<label for="data_realizacao">Data de Realização:</label><br>
			<input type="date" name="data_realizacao" id="data_realizacao" size="20"><br><br>
			
			<label for="tipo">Tipo:</label><br>
			<select name="tipo" id="tipo" required>
				<option value="" disabled>Selecione um Serviço</option>
				<option value="Instalação de Telefone/Internet">Instalação de Telefone/Internet</option>
				<option value="Manutenção de Linha Telefônica/Internet">Manutenção de Linha Telefônica/Internet</option>
				<option value="Troca de Equipamentos (modem)">Troca de Equipamentos (modem)</option>
				<option value="Suporte Técnico">Suporte Técnico</option>
			</select><br><br>
			
			<label for="tempo">Tempo para Realização (em horas):</label><br>
			<input type="number" name="tempo" id="tempo" size="10"><br><br>

			<label for="valor_unitario">Valor Unitário:</label><br>
			<input type="text" name="valor_unitario" id="valor_unitario" size="15"><br><br>

			<input type="submit" name="salvar" value="Salvar">
			<input type="reset" name="limpar" value="Limpar">
		</form>
	</body>
</html>