<html>
	<head>
		<title>Organizações Tabajara</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Cadastro de Cliente</h1>
		<hr>
		<form action="/atualizarCliente" method="post">
				
			<label for="cpf">CPF:</label><br>
			<input type="text" name="cpf" id="cpf" value="<%= cliente[0].cpf %>" size="15" readonly="readonly"><br><br>
	
			<label for="nome">Nome:</label><br>
			<input type="text" name="nome" id="nome" value="<%= cliente[0].nome %>" size="30"><br><br>
			
			<label for="telefone">Telefone:</label><br>
			<input type="text" name="telefone" id="telefone" value="<%= cliente[0].telefone %>" size="20"><br><br>
			
			<label for="endereco">Endereço:</label><br>
			<textarea name="endereco" id="endereco" cols="100" rows="3"><%= cliente[0].endereco %></textarea><br><br>

			<input type="submit" name="salvar" value="Salvar">
			<input type="reset" name="limpar" value="Limpar">
		</form>
	</body>
</html>